@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
:root{
    --fonte01:verdana, 'geneva', tahoma, sans-serif;
    --fonte02:'Passion One', 'cursive';
    --fonte03:'Sriracha', 'cursive';
}
html, body{
    background-color: darkgray;
    font-family: var(--fonte01);
    min-height: 100vh;
   
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-variant: small-caps;
    font-family: var(--fonte02);
    font-size: 10vw;
    padding-top: 50px;
    
}
header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
   
}
header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fonte03);
    font-size: 3vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    
}
section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}
section.normal > p{

padding-left: 10px;

}

section.imagem{
    background-color: rgb(51, 51, 51);
    box-shadow: inset 6px 13px 0px rgba(0, 0, 0, 0.808);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}



section.imagem > p{
    background-color: rgba(0, 0, 0, 0.514);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    
}


section#img1{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    
}


section#img2{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    
}



footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}